@import "https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Varela+Round&display=swap";
.card {
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 120px;
  min-height: 120px;
  margin: 0.4vw;
  font-family: "Varela Round";
  background-color: #f0f0f0;
}
