<mat-card class="card scrollable-content">
  <mat-card-title>{{ aquarium.name }}</mat-card-title>
  <mat-card-subtitle *ngIf="aquarium.liters != undefined; else elseBlock">
    {{ aquarium.liters }}L ({{ aquarium.dimensions.width }}x{{
      aquarium.dimensions.length
    }}x{{ aquarium.dimensions.height }})
  </mat-card-subtitle>
  <ng-template #elseBlock>
    <mat-card-subtitle
      *ngIf="
        aquarium.dimensions.width != undefined &&
        aquarium.dimensions.length != undefined &&
        aquarium.dimensions.height != undefined &&
        aquarium.dimensions.width != null &&
        aquarium.dimensions.length != null &&
        aquarium.dimensions.height != null
      "
    >
      {{ aquarium.dimensions.width }}x{{ aquarium.dimensions.length }}x{{
        aquarium.dimensions.height
      }}
    </mat-card-subtitle>
  </ng-template>
  <mat-card-content>
    <p *ngIf="aquariumFish != ''" class="content-title">Fish</p>
    <p [innerText]="aquariumFish"></p>
    <p *ngIf="aquariumSnails != ''" class="content-title">Snails</p>
    <p [innerText]="aquariumSnails"></p>
    <p *ngIf="aquariumShrimps != ''" class="content-title">Shrimp</p>
    <p [innerText]="aquariumShrimps"></p>
    <p *ngIf="aquariumPlants != ''" class="content-title">Plants</p>
    <p [innerText]="aquariumPlants"></p>
  </mat-card-content>
</mat-card>
